<main class="container mx-auto p-4">
    <h1 class="text-3xl font-bold mb-4 text-center">Bienvenido a la API de Paises</h1>
    <p class="text-lg text-center">Trabajo Final</p>
    <div class="prose max-w-4xl mx-auto text-gray-700">
        <p class="text-lg font-semibold mb-4">Bienvenido a la API de Países Hispanohablantes</p>
        <p class="mb-4">Descubre una API poderosa y versátil diseñada para gestionar y explorar información sobre los países donde el español es idioma oficial. La siguiente API combina precisión, accesibilidad y diseño intuitivo, asegurando que tengas todo lo que necesitas para trabajar con datos actualizados y relevantes.</p>
        <p class="text-lg font-semibold mb-2">¿Qué hace nuestra API?</p>
        <ol class="list-decimal list-inside mb-4">
            <li>
                <strong class="font-semibold">Datos Confiables y Actualizados:</strong>
                Integramos información de fuentes externas confiables, procesada y almacenada en una base de datos MongoDB para garantizar su precisión y organización.
            </li>
            <li>
                <strong class="font-semibold">Funcionalidades Versátiles:</strong>
                <ul class="list-disc list-inside ml-6 mb-4">
                    <li>Explorar Países: Accede a una lista completa de países hispanohablantes con datos clave seleccionados.</li>
                    <li>Consultar Detalles: Descubre información como capital, fronteras, población, área, índice Gini, zonas horarias y mucho más.</li>
                    <li>Gestionar Registros: Agrega, edita o elimina países con formularios intuitivos diseñados para una experiencia sin complicaciones.</li>
                </ul>
            </li>
            <li>
                <strong class="font-semibold">Validaciones y Seguridad de Datos:</strong>
                Se implemento validaciones para garantizar que cada dato ingresado sea correcto y completo. Los mensajes de error claros aseguran una experiencia amigable, minimizando los posibles errores en la base de datos.
            </li>
        </ol>
        <p class="text-lg font-semibold mb-2">Diseño Intuitivo y Tecnología Moderna</p>
        <p class="mb-4">Nuestra interfaz web está diseñada para ser funcional y agradable:</p>
        <ul class="list-disc list-inside ml-6 mb-4">
            <li>Navegación Consistente: Con una barra de navegación y un pie de página presentes en todas las vistas.</li>
            <li>Tecnologías de Vanguardia: Desarrollada con Node.js, Express, MongoDB y EJS, esta API es robusta, eficiente y escalable, adaptada a las necesidades modernas.</li>
        </ul>
        <p class="text-lg font-semibold mb-2">¿Qué Puedes Lograr?</p>
        <ul class="list-disc list-inside ml-6 mb-4">
            <li>Explorar y analizar datos claves de países hispanohablantes.</li>
            <li>Mantener actualizada la base de datos de forma sencilla y segura.</li>
            <li>Aprovechar un diseño pensado para facilitar la experiencia del usuario.</li>
        </ul>
        <p class="text-lg font-semibold mb-2">¡Empieza Ahora!</p>
        <p class="mb-4">Nuestra API de Países Hispanohablantes está lista para ser un recurso importante a la hora de trabajar con datos sobre el mundo hispanohablante. Explora, gestiona y descubre todo lo que ofrece esta herramienta innovadora.</p>
    </div>
</main>
