<!-- dashboard.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard de Superhéroes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Dashboard de Superhéroes</h1>
        <a href="/" class="btn">Volver al Inicio</a>
    </header>
    <main>
        <section>
            <h2>Opciones</h2>
            <div class="menu-principal">
                <ul>
                    <li><a href="/heroes/new" class="btn btn-add">Agregar Superhéroe</a></li>
                    <li><a href="/list" class="btn btn-view">Ver Todos</a></li>
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 CRUD de Superhéroes</p>
        <p>Alumna: Ponce Virginia Alejandra</p>
    </footer>    
</body>
</html>
