<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Bienvenido al CRUD de Superhéroes</h1>
    </header>
    <main>
        <section class="menu-principal">
            <h2>Opciones</h2>
            <ul>
                <li><a href="/heroes" class="btn btn-view">Ver Superhéroes</a></li>
                <li><a href="/heroes/new" class="btn btn-add">Agregar Superhéroe</a></li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 CRUD de Superhéroes</p>
        <p>Alumna: Ponce Virginia Alejandra</p>
    </footer>  
</body>
</html>
