
<div class="text-center index">
    <a href="/heroes"> Lista de Superheroes</a>
    <a href="/heroes/agregar"> Agregar SuperHeroe</a>

    <style>
        .index{
            min-height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            background-color: whitesmoke;
        }
        div > a {
            padding: 8px 12px;
            border: 1px solid lightblue;
            border-radius: 10px;
            background-color: lightblue;
        }
    </style>
</div>
